@font-face {
    font-family: 'Agrandir';
    src: url('fonts/Agrandir-Regular.woff2') format('woff2'),
         url('fonts/Agrandir-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Agrandir', sans-serif;
    
}
