@import "tailwindcss";

@layer components {
  .btn {
    @apply rounded-lg text-white border-1 border-white border-solid flex items-center justify-between gap-1;
  }
}
@layer utilities {
  .align {
    @apply px-14;
  }
}
.btn {
  @apply p-3  2xl:p-5;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  @apply box-border;
  line-height: 1.4;
}

body {
  @apply text-white;
}

header {
  @apply bg-black overflow-hidden;
  background-image: url("../asset/svg/ray.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: relative;
}

nav {
  @apply px-16 pt-4;
}
.nav-links {
  @apply flex items-center justify-center gap-5;
}
.logo {
  @apply animate-spin;
  animation: spin3D 3s linear infinite;
}
.nav-list {
  @apply text-lg font-bold text-white text-nowrap uppercase hover:text-[#00D54B] origin-center duration-500 transform hover:scale-110;
}

#checkbox {
  display: none;
}

.nav_button {
  display: none;
}

@keyframes spin3D {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.hero {
  @apply flex items-center justify-center text-white text-center h-full;
  position: relative;
}

.hero > .textbox {
  @apply w-4/5 flex  items-center justify-center absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero > .textbox > .heading-primary {
  @apply text-9xl inline-flex flex-col items-center justify-center font-bold md:text-[193px] uppercase;
}

.phone-figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.phone-figure > img {
  @apply w-full;
}

.objects {
  position: relative;
  height: 95%;
  margin-bottom: 2rem;
  top: 0;
}
.objects img {
  position: absolute;
  display: flex;
}
.bottomRight {
  bottom: 0;
  right: 0;
}
.bottomLeft {
  bottom: 5rem;
  left: 0;
}
.topRight {
  top: 0;
  right: 0;
}
.topLeft {
  top: 0;
  left: 0;
}

.buttons {
  @apply flex items-center justify-center gap-8 2xl:gap-14;
}

.footer {
  @apply fixed bottom-5 flex justify-between;
  width: calc(100% - 6vw);
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);
}

.footer-dec {
  max-width: 40rem;
}

@media only screen and (max-width: 1200px) {
  /* NAV STYLES */

  .navigation {
    padding: 3rem;
  }

  .navigation .nav-links {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(1.5px);
    height: 100vh;
    flex-direction: column;
    width: min(100vw, 30rem);
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    gap: 3rem;
  }

  li.menu {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }

  .nav_button {
    position: relative;
    z-index: 120;
    font-size: 2.25rem;
    display: flex;
  }

  li.menu .nav_button span.close {
    display: none;
  }

  li.menu .nav_button span.open {
    display: flex;
  }

  .navigation #checkbox:checked ~ .nav-wrapper .nav-links {
    transform: translateX(0);
    display: flex;
    align-items: center;
  }

  .navigation #checkbox:checked ~ .nav-wrapper li.menu .nav_button span.close {
    display: flex;
  }
  .navigation #checkbox:checked ~ .nav-wrapper li.menu .nav_button span.open {
    display: none;
  }

  /* BUTTON STYLES */

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 3);
  }

  /* FOOTER STYLES */

  .footer-dec {
    max-width: 20rem;
  }
}

@media only screen and (max-width: 900px) {
  /* BUTTON STYLES */

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 3);
  }

  /* FOOTER STYLES */

  .foot-text {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  /* HERO STYLES */

  .hero {
    position: relative;
    top: -10rem;
  }

  /* OBJECT STYLES */

  .objects img {
    display: none;
  }

  /* BUTTON STYLES */

  .buttons {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 5);
    margin-bottom: 4rem;
  }

  /* FOOTER */

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 500px) {
  /* HERO STYLES */

  .hero {
    position: relative;
    top: -12rem;
  }

  /* OBJECT STYLES */

  .objects img {
    display: none;
  }

  /* BUTTON STYLES */

  .buttons {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 5);
    margin-bottom: 2rem;
  }

  /* FOOTER */

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 400px) {
  /* NAVIGATION */

  .nav-wrapper .logo {
    height: 4rem;
    width: 4rem;
  }

  /* HERO STYLES */

  .hero {
    position: relative;
    top: -12rem;
  }

  /* OBJECT STYLES */

  .objects img {
    display: none;
  }

  /* BUTTON STYLES */

  .buttons {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    gap: calc(var(--spacing) * 5);
    margin-bottom: 1.75rem;
  }

  /* FOOTER */

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
