@import "tailwindcss";

@layer components {
  .btn {
    @apply rounded-lg text-white border-1 border-white border-solid flex items-center justify-between gap-1;
  }
}
@layer utilities {
  .align {
    @apply px-14;
  }
}
.btn{
   @apply p-3  2xl:p-5;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  @apply box-border;
  line-height: 1.4;
}
body{
    @apply text-white;
}

header {
  @apply bg-black overflow-hidden;
  background-image: url("../asset/svg/ray.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  position: relative;
}
nav {
  @apply px-16 pt-4;
}
.nav-links {
  @apply flex items-center justify-center gap-5;
}
.logo {
  @apply animate-spin;
  animation: spin3D 3s linear infinite;
}
.nav-list {
  @apply text-lg font-bold text-white text-nowrap uppercase hover:text-[#00D54B] origin-center duration-500 transform hover:scale-110;
}

@keyframes spin3D {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.hero {
  @apply flex items-center justify-center text-white text-center h-full;
  position: relative;
}

.hero > .textbox {
  @apply w-4/5 flex  items-center justify-center absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero > .textbox > .heading-primary {
  @apply text-9xl inline-flex flex-col items-center justify-center font-bold md:text-[193px] uppercase;
}

.phone-figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.phone-figure > img {
  @apply w-full;
}

.objects {
  position: relative;
  height: 95%;
  margin-bottom: 2rem;
  top: 0;
}
.objects img {
  position: absolute;
}
.bottomRight {
  bottom: 0;
  right: 0;
}
.bottomLeft {
  bottom: 5rem;
  left: 0;
}
.topRight {
  top: 0;
  right: 0;
}
.topLeft {
  top: 0;
  left: 0;
}

.buttons {
  @apply flex items-center justify-center gap-8 2xl:gap-14;
}

.footer {
  @apply fixed bottom-5 flex justify-between  ;
  width: calc(100% - 6vw);
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);
}

.footer-dec{
    max-width: 40rem;
    
}
