@media only screen and (max-width: 1200px) {
    /* NAV STYLES */
  
    .navigation {
      padding: 3rem;
    }
  
    .navigation .nav-links {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(1.5px);
      height: 100vh;
      flex-direction: column;
      width: min(100vw, 30rem);
      justify-content: center;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      gap: 3rem;
    }
  
    li.menu {
      display: flex;
      align-items: center;
      gap: 1.25rem;
    }
  
    .nav_button {
      position: relative;
      z-index: 120;
      font-size: 2.25rem;
      display: flex;
    }
  
    li.menu .nav_button span.close {
      display: none;
    }
  
    li.menu .nav_button span.open {
      display: flex;
    }
  
    .navigation #checkbox:checked ~ .nav-wrapper .nav-links {
      transform: translateX(0);
      display: flex;
      align-items: center;
    }
  
    .navigation #checkbox:checked ~ .nav-wrapper li.menu .nav_button span.close {
      display: flex;
    }
    .navigation #checkbox:checked ~ .nav-wrapper li.menu .nav_button span.open {
      display: none;
    }
  
    /* BUTTON STYLES */
  
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: calc(var(--spacing) * 3);
    }
  
    /* FOOTER STYLES */
  
    .footer-dec {
      max-width: 20rem;
    }
  }
  
  @media only screen and (max-width: 900px) {
  }
  
  @media only screen and (max-width: 600px) {
  }